<!-- <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">RP PHOTOGRAPHY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navlist"></div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active ">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact me</a>
                </li>

            </ul>

        </div>
    </nav>
</header> -->
<div class="body">
  <div class="fixed-nav-bar">
    <div class="logo">
      <img src="/../../assets/logo5.png" alt="No iamge"  class="logoImg"/>
      <span> RP PHOTOGRAPHY</span>
    </div>
    <input type="checkbox" id="menuButton" />
    <label for="menuButton" class="menu-button-label">
      <div id="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- <div class="menuimg"><img src="https://img.icons8.com/material-outlined/48/000000/menu--v3.png"alt="No image" height="35px"></div> -->
      <!-- <div class="white-bar"></div>
        <div class="white-bar"></div>
        <div class="menu-button"></div> -->
    </label>
  </div>
  <div class="the-bass">
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><a routerLink="/">HOME</a></div>
    </div>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><a routerLink="/about">ABOUT ME</a></div>
    </div>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><a routerLink="/portfolio">PORTFOLIO</a></div>
    </div>
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><a routerLink="/services">OUR SERVICES</a></div>
    </div>
    <!--<div class="rela-block drop-down-container">
      <div class="drop-down-item"></div>
    </div> -->
    <div class="rela-block drop-down-container">
      <div class="drop-down-item"><a routerLink="/contact">CONTACT</a></div>
    </div>
  </div>
</div>
