<div class="rela-block footer">
    <div class="rela-block social-buttons-container">
        <!-- <a href="#">
            <div class="social-button facebook-button"></div>
        </a> -->
        <a href="https://www.instagram.com/rohanpujari_rp/?hl=en" target="_blank">
            <div class="social-button insta-button"></div>
        </a>
        <!-- <a href="#">
            <div class="social-button twitter-button"></div>
        </a> -->
        <a href="mailto:rpphotography6188@gmail.com" target="_blank">
            <div class="social-button pinterest-button"></div>
        </a>
    </div>
    <hr>
    <div class="rela-block footer-links-container">
        <div class="footer-flex-column">
            <ul> <span>Contact Me</span>
                <li><a href="tel:+919421850032"><img src="/../../assets/icons/tele.png" /> 9421850032</a></li>
                <li><a href="https://wa.me/919421850032/?text=I%20Have%20An%20Enquiry%20About%20Your%20services"
                        target="_blank"><img src="/../../assets/icons/whatsapp.png" /> 9421850032</a> </li>
                <li>
                    <a href="mailto:rpphotography6188@gmail.com" target="_blank" class="last"><img
                            src="/../../assets/icons/gmail.png" class="logo5" /><small>
                            rpphotography6188@gmail.com</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="copyright">Copyright<sup> ©</sup>{{year}} RP PHOTOGRAPHY <br>
        Website Built & Designed by Abhijeet Adsul</div>
</div>