<div class="contact" id="contact">
    <h1 class="section__title">CONTACT ME</h1>
    <div id="underline">
        <span></span>
    </div>
    <div class="contact__container">
        <div class="row ">
            <div class="col-sm-12 col-xs-12 col-lg-7">
                <h2 class="section__title_1">Send Message</h2>
                <form action="https://formsubmit.co/rpphotography6188@gmail.com" method="POST" class="contact__form"
                    required>
                    <div class="contact__inputs">
                        <input type="text" name="name" placeholder="Name" class="contact__input" required>
                        <input type="email" name="email" placeholder="Email" class="contact__input" required>
                    </div>
                    <input type="text" name="subject" placeholder="Subject" class="contact__input">
                    <textarea name="" id="" cols="0" rows="10" name="message" placeholder="Message"
                        class="contact__input" required></textarea>
                    <input class=" contact__button rounded-pill" type="submit" value="Send Message">
                </form>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-5 info">
                <div class="info" [ngsReveal]="{ reset: true}">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">Call Me</h3>
                        <a href="tel:+919421850032"><span class="contact__text">9421850032</span></a>
                        <div id="navMenu">
                            <span></span>
                        </div>
                    </div>
                    <div class="contact__info">
                        <h3 class="contact__subtitle">WhatsApp</h3>
                        <a href="https://wa.me/919421850032/?text=I%20Have%20An%20Enquiry%20About%20Your%20services"><span
                                class="contact__text">9421850032</span></a>
                        <div id="navMenu">
                            <span></span>
                        </div>
                    </div>
                    <div class="contact__info">
                        <h3 class="contact__subtitle">E-mail</h3>
                        <a href="mailto:rpphotography6188@gmail.com"><span
                                class="contact__text">rpphotography6188@gmail.com</span></a>
                        <div id="navMenu">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>