<div class="aboutme">
    <h1 class=heading>ABOUT ME</h1>
    <div id="underline">
        <span></span>
    </div>


    <img src="./../../assets/image1/about1.jpg" class="col-md-6 float-md-start mb-3 ms-md-3 aboutimg" alt="aboutimage">

    <p class="paragraph pb-2">
        &nbsp; My name is Rohan Pujari (RP). I am a professional photographer based in Pune, Maharashtra
        specializing in B.A.Photography. My photographs also got featured in a Kesari newspaper.
        I am currently pursuing my photography degree from TMV college, one of the best institutions for
        photography in India.
    </p>
    <p class="paragraph pb-2">
        &nbsp; I was pursuing a degree in BA after finishing my 12th grade but lost interest in it and chose to drop it
        after my first year of study. Eventually, I decided to pursue my passion for photography and got admitted to TMV
        college to earn a degree in photography.
    </p>
    <p class="paragraph pb-2">
        &nbsp; I first fell in love with photography in high school where I learned about the of photography and
        editing photographs. Although my camera has changed over the years it has always been my most prized
        possession. I love being able to capture memories and to capture the beauty of the world.
    </p>
    <p class="paragraph pb-2">
        &nbsp; As a photographer, I always try to create photographs that you will love and cherish for many years
        to
        come. I would be honored to capture part of your life.
        I hope, that you will enjoy with my photo portfolio and after that we can create something great together!
    </p>
    





</div>