<div class="body">
    <h1 class="section__title">PORTFOLIO</h1>
    <div id="underline">
        <span></span>
    </div>

    <div class="row justify-content-center ">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/portfolio/shoot1">
                <div class="card card1">
                    <div class="box"
                        style="background: url('/../../assets/image1/img5.jpeg') transparent no-repeat center;background-size: cover">
                        <div class="content">
                            <h5>Fashion Photography</h5>
                            <p>Fashion Photography</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/portfolio/shoot2">
            <div class="card card2">
                    <div class="box"
                        style="background: url('/../../assets/image2/img1.jpeg') transparent no-repeat center;background-size: cover">
                        <div class="content">
                            <h5>Fashion Photography</h5>
                            <p>Fashion Photography</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/portfolio/shoot3">
            <div class="card card2">
                    <div class="box"
                        style="background: url('/../../assets/image3/img3.jpeg') transparent no-repeat center;background-size: cover">
                        <div class="content">
                            <h5>Fashion Photography</h5>
                            <p>Fashion Photography</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/portfolio/shoot4">
            <div class="card card2">
                    <div class="box"
                        style="background: url('/../../assets/image4/img5.jpeg') transparent no-repeat center;background-size: cover">
                        <div class="content">
                            <h5>Fashion Photography</h5>
                            <p>Fashion Photography</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/portfolio/shoot5">
            <div class="card card2">
                    <div class="box"
                        style="background: url('/../../assets/image5/img8.jpeg') transparent no-repeat center;background-size: cover">
                        <div class="content">
                            <h5>Fashion Photography</h5>
                            <p>Fashion Photography</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/portfolio/shoot6  ">
            <div class="card card2">
                    <div class="box"
                        style="background: url('/../../assets/image6/img1.jpeg') transparent no-repeat center;background-size: cover">
                        <div class="content">
                            <h5>Fashion Photography</h5>
                            <p>Fashion Photography</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/portfolio/shoot7">
            <div class="card card2">
                    <div class="box"
                        style="background: url('/../../assets/image7/img1.jpeg') transparent no-repeat center;background-size: cover">
                        <div class="content">
                            <h5>Fashion Photography</h5>
                            <p>Commercial Photography</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
