<div class="services" id="services">
    <h1 class="section__title">SERVICES</h1>
    <div id="underline">
        <span></span>
    </div>
    <div class="services__container">
        <div class="row ">
            <div class="col-sm-12 col-xs-12 col-lg-3  card">
                <div class="services__content">
                    <img src="https://images.unsplash.com/photo-1597157639073-69284dc0fdaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80"
                        class="serviceImg" alt="">
                    <h3 class="services__title">Wedding </h3>
                    <p class="services__description">A wedding is a ceremony where two people are united in marriage.
                        wedding traditions and customs vary greatly between cultures, ethnic groups, religions,
                        countries, and social classes.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 card">
                <div class="services__content">
                    <img src="https://i.pinimg.com/564x/f1/92/e3/f192e3dd7f46e3b007455fc2e838353b.jpg"
                        class="serviceImg" alt="">
                    <h3 class="services__title">Pre-Wedding </h3>
                    <p class="services__description">Pre-wedding photography allows both partners to get to know each
                        other better. Pre-wedding shoot photographers are intent on capturing natural moments and real
                        emotions shared by the couple.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 card">
                <div class="services__content">
                    <img src="/../../assets/image1/img8.jpeg" class="serviceImg" alt="">
                    <h3 class="services__title">Fashion Photography </h3>
                    <p class="services__description">Fashion photography is capturing models in clothing
                        and other fashion accessories for editorial or advertising purposes. In this style of glamour
                        photography, the look of the photographs is everything.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-lg-3 card">
                <div class="services__content">
                    <img src="/../../assets/image7/img2.jpeg" class="serviceImg" alt="" style="height: 190px;">
                    <h3 class="services__title" >Commercial Photography</h3>
                    <p class="services__description">A product shoot gives you an outline shot of your products. This
                        means that you receive a clean shot of your product that you can use for
                        online purposes, print ads, and any other instance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>